@import 'styles/App.scss';

.check-combo-model_full {
  @extend %model_full;
}

.check-combo-model {
  width: 70%;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  @include p-x(.5rem);
  box-sizing: border-box;
}

.check-combo-model_content {
  border-bottom: solid 1px $gray-1;
  // @include p-x(.5rem);

  >h2 {
    @include p-y(.75rem);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: .5rem;
    border-bottom: solid 1px $gray-1;
  }

  >ul {
    display: block;
    @include p-y(1rem);
    // display: flex;
    // flex-direction: column;
    // row-gap: .5rem;

    >li {
      @extend %f-xl;
      @extend %li-black-circle;
    }

    >li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

}

.check-combo-model_content_drink-change {
  font-size: 1rem;
  color: blue;
  margin-left: 1rem;
}

.check-combo-model_content_drink {
  font-size: 1rem;
  margin-top: 0.5rem;
}


.check-combo-model_button-wrap {
  display: flex;
  gap: 1rem;

  button {
    padding: 1.5rem 1rem;
    @extend %f-xl;
    font-weight: bold;
    font-family: 'Noto Sans TC';
    border-radius: .5rem;
  }
}

.drink-list-full {
  @include position(absolute, 0, 0, 0, 0);
  @extend %flex-center;
  row-gap: 1rem;
  flex-direction: column;

  .drink-list-back {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: white;
    @extend %circle;
    aspect-ratio: 1;
    text-align: center;
    cursor: pointer;
  }

  .drink-list-wrap {
    width: 80%;
    height: 60%;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
    @extend %hidden-scrollbar;

    >li {
      @include p-y(.5rem);
      display: flex;
      cursor: pointer;

      >p {
        @extend %f-xl;
        padding-right: 1rem;
      }
    }
  }
}